---
import Layout from '../Layouts/Layout.astro';
import Poke from '../components/Poke.astro';

let offset = Astro.url.searchParams.get('offset') || 0;
offset = Number(offset);

let lista = await fetch(
  `https://pokeapi.co/api/v2/pokemon?limit=20&offset=${offset}`
)
  .then((res) => res.json())
  .then((info) => info.results)
  .catch((error) => console.error(error));

const pokemons = await Promise.all(
  await lista.map(async (poke) => {
    let item = await fetch(poke.url);
    item = await item.json();

    return {
      name: poke.name,
      img: item.sprites.other['official-artwork'].front_default,
    };
  })
);

const prev = `?offset=${offset == 0 ? 0 : offset - 20}`;
const next = `?offset=${offset + 20}`;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <Layout>
    <div class='flex justify-center p-5'>
      <img src=`./img/pokeApi.png` alt='pokeapi' class='w-50' />
    </div>
    <div class='flex justify-center'>
      <div class='grid lg:grid-cols-4 md:grid-cols-3 gap-10'>
        {
          pokemons.map((poke) => {
            return <Poke img={poke.img} name={poke.name} />;
          })
        }
      </div>
    </div>
    <Poke />
    <div class='flex justify-evenly p-10'>
      <a href=`/${prev}`>
        <button
          id='paginationPrevius'
          class='border-solid border-2 rounded-md px-10 py-2 bg-[#FECA1B] border-[#3761A8] hover:bg-red-500 font-medium'
          >Previus</button
        ></a
      >
      <a href=`/`
        ><button
          id='paginationNext'
          class='border-solid border-2 rounded-md px-10 py-2 bg-[#FECA1B] border-[#3761A8] hover:bg-red-500 font-medium'
          >Home</button
        ></a
      >
      <a href=`/${next}`
        ><button
          id='paginationNext'
          class='border-solid border-2 rounded-md px-10 py-2 bg-[#FECA1B] border-[#3761A8] hover:bg-red-500 font-medium'
          >Next</button
        ></a
      >
    </div>
    <!-- <Pagination offset={offset} > -->
  </Layout>


</html>

